#nav-header {
    border: 10px white solid;
    border-radius: 14px;
    background-color: cadetblue;
}

.content {
    margin: 0 10px;
}

#resume-header {
    height: 300px;
    display: flex;
    background-color: cadetblue;
    background-image: linear-gradient(transparent 50%, white) /*, url('../static/profile_picture.jpg')*/;
    background-repeat: no-repeat;
    background-size: auto 300px;
}

#resume-header .content {
    margin-left: 250px;
}

#resume-content {
    margin: 0 25px;
}

.project {
    height: 200px;
}

.project .image {
    max-width: 360px;
}
