body {
    background: black;
    color: white;
}

iframe {
    width: 1000px;
    height: 720px;
    border: 1px solid black;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.35);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.35);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.35);
    -webkit-transform-origin: 0 0;
}

#nav-header {
    border: 10px black solid;
    border-radius: 14px;
    background-color: #009bcf;
}

#nav-header .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#nav-header .nav-link.active {
    color: white;
}

.content {
    margin: 0 10px;
}

#resume-header {
    height: 300px;
    display: flex;
    background-color: #009bcf;
    background-image: linear-gradient(transparent 50%, black), url('/static/profile_picture.jpg');
    background-repeat: no-repeat;
    background-size: auto 300px;
}

#resume-header .content {
    margin-left: 250px;
}

#resume-content {
    margin: 0 25px;
}

.project {
    height: 250px;
    margin-bottom: 10px;
}

.project .image {
    max-height: 280px;
    max-width: 360px;
}

.badge {
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.badge a {
    color: white
}

.badge.badge-light a {
    color: black
}
