@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer base {
    h1 { @apply text-4xl font-bold; }
    h2 { @apply text-2xl font-semibold; }
    h3 { @apply text-xl font-medium; }
}

@layer base {
    ul {
        @apply list-disc pl-6 space-y-1;
    }

    ol {
        @apply list-decimal pl-6 space-y-1;
    }

    li {
        @apply leading-relaxed;
    }
}
