#resume-content {
  margin: 0 25px;
}

.project {
  height: 250px;
  margin-bottom: 10px;
}

.project .image {
  max-height: 280px;
  max-width: 360px;
}

.badge {
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.badge a {
  color: white;
}

.badge.badge-light a {
  color: black;
}
